:root {
	--bg: #1d1d1d;
	--bg-box: #0f0f0f;
	--box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
	--text: lightgray;
	--accent: #7E5C8D;
	--accent-dark: #594263;
}

body {
	background-color: var(--bg);
	max-width: 1080px;
	padding: 10px 10px;
	margin: auto;
	color: var(--text);
	font-family: Consolas,monaco,monospace; 
	font-size: 16px;
}

header {
	color:var(--text);
	background-color: var(--bg-box);
	box-shadow: var(--box-shadow);
	border-radius: 6px;
	font-family: Consolas,monaco,monospace; 
	font-size: 16px;
	display: flex;
	flex-flow: row no-wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	transition: transform 250ms, background-color 500ms, box-shadow 500ms;
}
header:hover {
	transform: translateY(-5px);
}

.accent {
	color: var(--accent)
}

span:hover {
	color: var(--accent-dark);
	transition: color 300ms;
}