:root {
	--bg: #1d1d1d;
	--bg-box: #0f0f0f;
	--box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
	--text: lightgray;
	--accent: #7E5C8D;
	--accent-dark: #594263;
}

body {
	background-color: var(--bg);
	max-width: 1080px;
	padding: 10px 10px;
	margin: auto;
	color: var(--text);
	font-family: Consolas,monaco,monospace; 
	font-size: 16px;
}

header {
	background-color: var(--bg-box);
	color: var(--text);
	box-shadow: var(--box-shadow);
	border-radius: 6px;
	display: flex;
	flex-flow: row no-wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

h1 {
	color: var(--accent)
}

h2 {
	text-align: center;
}

button {
	color: var(--text);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	background-color: var(--bg);
	border: none;
	border-radius: 6px;
}
button:hover {
	background-color: var(--accent);
}

.box-container {
	margin-top: 10px;
	display: grid;
	grid-gap: 10px 10px;
	grid-template-columns: auto auto;
}
@media screen and (max-width: 650px) {
	.box-container {
		grid-template-columns: auto !important;
	}
}
.box {
	background-color: var(--bg-box);
	color: var(--text);
	font-family: Consolas,monaco,monospace; 
	box-shadow: var(--box-shadow);
	border-radius: 6px;
	padding: 20px;
	text-align: center;
}

.accent {
	color: var(--accent)
}